/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #007bff;
    --secondary: #6c757d;
    --bg:#d3d6d8;
    --card-bg:#ffffff;
    --text-light:#64748b;
    --text-dark:#0f172a;
    --border:#e5e7eb;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Inter,Arial,sans-serif;
}
body{
    background:var(--bg);
    color:var(--text-dark);
}